.contentHome {
  height: 80dvh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.typo {
  font-size: 66px;
  margin-bottom: 28px;
}

.butExp {
  background-color: #000;
  color: #fff;
  padding: 18px;
  border: none;
  border-radius: 32px;
  font-size: 28px;
  cursor: pointer;
}
